In [1]:
import os

In [4]:
data_path = os.path.join('..','data')
os.makedirs(data_path,exist_ok=True)

In [5]:
data_file = os.path.join(data_path,'house_tiny.csv')

In [8]:
with open(data_file,'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [9]:
import pandas as pd

In [10]:
data = pd.read_csv(data_file)

In [11]:
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [14]:
inputs,outputs = data.iloc[:,0:2],data.iloc[:,2]

In [15]:
inputs

   NumRooms Alley
0       NaN  Pave
1       2.0   NaN
2       4.0   NaN
3       NaN   NaN

In [17]:
outputs

0    127500
1    106000
2    178100
3    140000
Name: Price, dtype: int64

In [20]:
input_mean = inputs.mean()

In [21]:
input_mean

NumRooms    3.0
dtype: float64

In [22]:
inputs = inputs.fillna(input_mean)

In [23]:
inputs

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

In [24]:
inputs = pd.get_dummies(inputs,dummy_na=True)
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0           1          0
1       2.0           0          1
2       4.0           0          1
3       3.0           0          1

In [25]:
import torch

In [26]:
inputs = torch.tensor(inputs.to_numpy(dtype=float))

In [28]:
outputs = torch.tensor(outputs.to_numpy(dtype=float))

In [29]:
inputs,outputs

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500., 106000., 178100., 140000.], dtype=torch.float64))